#container {
  margin: 30px;
}

#container div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}
button {
  background-color:blue;
  color: white;
}
option {
  background-color: blue;
  color: white;
}
select {
  width: 50px;
}
output {
  font-weight: bolder;
}